<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="my.tutorials.mybatis.TestOneDao">

	<resultMap id="TestOneResultMap" type="my.tutorials.mybatis.TestOne">
        <result property="id" column="id"/>
        <result property="name" column="name"/>
	</resultMap>
	
	<sql id="columns">
		id,name
	</sql>

	<insert id="save">
        INSERT INTO test_one (
        	id, name
        ) VALUES (
        	#{id}, #{name}
        )
	</insert>
	
	<select id="list" resultMap="TestOneResultMap">
		SELECT <include refid="columns" />
		FROM test_one
    </select>
	
</mapper>

